{% extends "_layouts/default.twig" %}

{% block content %}

    <div class="flex align-center h-screen align-middle">
        <div class="bg-white p-4" style="width:300px; height:auto;">
            <div class="cell text-center">
                <h3>{{ greeting }}</h3>
            </div>
        </div>
    </div>

{% endblock %}